@mixin buttons(){
   
    width: 85px;
    height: 35px;
    border: none;
    border-radius: 8%;
    font-size: 15pt; 
    text-align: center;
    position: absolute;
    top: 10px;
    right:75px;
}


$color: white;
$color2: gray;
$texto: 'Stint Ultra Condensed', cursive;
$texto2:'Amatic SC', cursive;

@mixin buttons2(){
    width: 115px;
    height: 35px;
    border: none;
    border-radius: 8%;
    color: white;
    font-size: 15pt; 
    text-align: center;
    position: absolute;
    top: 10px;
    right: 300px;
}
@mixin buttons3(){
    width: 115px;
    height: 35px;
    border: none;
    border-radius: 8%;
    font-size: 15pt; 
    text-align: center;
    position: absolute;
    top: 10px;
    right:175px;
}
@mixin hover(){
    background-color: black;
    opacity: 0.5;

}

@mixin hr(){
    border: 3px solid white;
    border-radius: 5px;
    width: 400px;
}

@mixin logo(){
    display: flex;

    margin-left: 375px;
    margin-right: 375px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}